* {
    box-sizing: border-box;
}

/* p:first-child는 없는 코드이기에 작동이되지 않음. */
/* 이유는 container 내부에 있는 5개의 child요소 중에 첫번쨰 태그는 p가 아닌 h1 이기 때문이다. */
/* h1, * 이라면 작동이 될 것이다 */
.container p:first-child {
    background-color: red;
}

.container p:first-of-type {
    background-color: blue;
}

/* p태그가 컨테이너 안에 마지막에 있으므로 정상 작동된다. */
.container p:last-of-type {
    background-color: yellow;
}

/* 2번쨰 p태그에 배경이 적용된다. */
.container p:nth-of-type(2) {
    background-color: green;
}

/* 어느곳에도 적용하지 않는다. child와 oftype 선택자의 차이를 잘알아야함. */
.container span:first-child {
    font-weight: 600;
    text-decoration: underline;
}