* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 106px;
    border: 3px solid red;
    position: relative;
}

.item {
    width: 100px;
    height: 100px;
    background-color: blue;
    /* item이라는 글씨를 가운데로 옮ㅣㅡㄴ 작ㅓ */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: moveBox 2s ease-in-out infinite alternate;
    /* animation-name: moveBox;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    /* 정방향<->역방향 재생 */
    /* animation-direction: alternate; */
    /* realative containerf를 절대좌표를 기준으로 설정 */
    position: absolute;
}

.item span {
    color: white;
}

@keyframes moveBox {
    from {
        border-radius: 0;
        left:0;
        background-color: blue;
        transform: scale(1);
    }
    to {
        border-radius: 50%;
        /* 그냥 1eft 100%라고 하면 박스밖으로 ㄴ머어가버림 */
        left: calc(100% - 100px);
        background-color: green;
        transform: scale(0.75);
    }
}