.block-container {
    border: 3px solid blue;
}

.inline-container{
    border: 3px solid red;
}

.block-container div {
    border: 3px solid green;
    width: 400px;
}

.inline-container span {
    background-color: red;
    /* span태그는 width , height 같은 것은 inline 요소에는 적용되지않음. */
    /* 적용하고 싶을떄는 display 속성을 통해 강제로 block 요소로 변경후 width, height 변경 가능 */
    width: 400px;
    display: block;
}